/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
#link_data {
    width: 866px;
    margin: 0 auto;
}

.field_with_errors {
    display: inline;
}

#link_label {
    font-size: 28px;
}

#link_url {
    width: 800px;
    height: 40px;
    font-size: 32px;
    padding: 6px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    vertical-align: middle;
}

#link_submit {
    height: 56px;
    width: 50px;
    margin: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    vertical-align: middle;
    border-left-width: 0px;
    background-image: url('compress.png');
    background-size: 32px 32px;
    background-position: center;
    background-repeat: no-repeat;
}

#link_message {
    display: inline;
    margin-top: 28px;
    font-size: 28px;
}

#link_copy {
    vertical-align: middle;
    cursor: pointer;
}

#link_url_result {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}